@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

body{
	font-family: 'Open Sans', Sans Serif;
	font-weight: 400;
	color: #545454;
	-webkit-font-smoothing: antialiased;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */


.disone h1,h2,h3,h4,h5,h6{
	color: #FAFAFA;
}

.lowpads{
	  vertical-align: middle;
}

img {
    vertical-align: middle;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', Sans Serif;
	font-weight: 600;
}

p{
	margin:0;
	padding:0;
}

a{
	text-decoration: none;
	color: #blue;
}

a:hover{
	text-decoration: none;
	color: #black;
}

a:hover,a:active,a:focus {
	outline: 0;
}


:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

.banner {
	background: #fff url('../img/back.jpg');
	padding-top: 150px;
	padding-bottom: 150px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align:right;
}

.banner h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 28px;
	line-height: 35px;
	color: #eee;
	text-transform: capitalize;
	padding-left: 600px;
}
.banner h3 {
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 20px;
	line-height: 25px;
	color: #ddd;
	text-transform: uppercase;
	letter-spacing: 0.055em;
	padding-left: 570px;
	padding-bottom: 50px;
}

.banner .btn {
	padding: 7px 25px;
	font-size: 14px;
	border-radius: 30px;
}

/*
 * default heading
 */

.default-heading {
	margin-bottom: 30px;
	text-align: center; 
}
.default-heading h2 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 32px; 
}
.default-heading p {
	font-size: 14px;
	line-height: 26px;
	text-transform: capitalize;
	letter-spacing: 0.055em;
}

/*
 * works
 */
 
.works {
	padding-top: 50px;
	padding-bottom: 30px;
}

.works .work-item {
	max-width: 360px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.works .work-item h3 {
	margin-top: 20px;
	font-size: 22px;
	  color: blue;
}

.works .work-item img {
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.works .work-item .org {
	display: block;
	font-size: 13px;
	font-style: italic;
}

/*
 * Contact
 */
 
.contact {
	padding-top: 120px;
	padding-bottom: 120px;
}

.contact h3 {
	margin-top: 0px;
	font-size: 20px;
}
.contact p {
	padding: 0 15px;
	font-size: 14px;
	line-height: 23px;
}

footer {
	padding: 50px 0;
	background: #344f9e;
	text-align: center;
}

footer p {
	font-size: 13px;
	line-height: 25px;
	color: #fff;
}
footer p a { 
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.055em;
	color: #fff;
}

footer disone h6 h5 h4 h3 h2 h1{
	color: white;
}
footer p a:hover { color: #fb6c6c; }
footer img {
	max-width: 150px !important;
	margin: 15px auto;
	background: #f8f8f8;
	border-radius: 4px;
}

footer .social a {
	display: inline-block;
	margin: 0 2px;
	margin-top: 5px;
	padding: 2px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: #fff;
	font-size: 14px;
	border-radius: 4px;
}

footer .social a  i {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 30px;
	border-radius: 3px;
	border: 1px dashed #e32b2b;
}

footer .copy-right {
	margin-top: 10px;
}

/*
 * Responsive CSS 
 */

/*
 * Mobile phones 
 */
@media (max-width: 480px){

}

/*
 * Tablets 
 */
@media (max-width: 767px){
	header .navbar-nav .dropdown-menu:after, 
	header .navbar-nav .dropdown-menu:before { display: none;}
	.contact .contact-container {
		max-width: 360px;
		margin: 0 auto;
	}
	.contact .contact-container form{	margin-bottom: 30px;}
	.contact .contact-container .map { margin-top: 30px; }
}

/*
 * Desktop 
 */
@media (max-width: 991px){

}